.image{
    margin: 20px;
    height: 170px;
    border-radius: 80%;
    border: 3px solid hsl(0, 0%, 100%);
}

body{
    background-image: url(Untitled\ \(1\).jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.buttons{
    padding: 5px 40px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(170, 169, 169);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(170, 169, 169);  
      
}

.row{
    position: absolute;
    top: 50px;
    right: 50px;
}
.buttons::after {
    background-color: hsl(0, 0%, 0%)

}

.buttons:active {
    background-color: hwb(214 15% 0%);
    box-shadow: 0 5px hwb(214 15% 0%);
    transform: translateY(4px);
  }

.header h1{
    text-align: right;
    font-size: 50px;
    position: absolute;
    top: 140px;
    right: 220px;
    font-family: Arial, sans-serif;
    color: #fff;
    font-weight: 1000;
}

.headerr h1{
    text-align: right;
    font-size: 50px;
    position: absolute;
    top: 600px;
    left: 100px;
    font-family: Arial, sans-serif;
    color: #fff;
    font-weight: 1000;
}

.headerrr h1{
    text-align: right;
    font-size: 50px;
    position: absolute;
    top: 930px;
    left: 100px;
    font-family: Arial, sans-serif;
    color: #fff;
    font-weight: 1000;
}

.headerrrr h1{
    text-align: right;
    font-size: 50px;
    position: absolute;
    top: 1100px;
    left: 100px;
    font-family: Arial, sans-serif;
    color: #fff;
    font-weight: 1000;
}

.header4 h1{
    text-align: right;
    font-size: 50px;
    position: absolute;
    top: 1160px;
    left: 100px;
    font-family: Arial, sans-serif;
    color: #fff;
    font-weight: 1000;
}



.intro {
    background-color: hsla(0, 0%, 37%, 0.502);
    margin: 20px;
    border-radius: 20px;
    height: 370px;
}

.intro h2{
    font-size: 40px;
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #fff;
}

.intro h3{
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #fff;
}

.intro p{
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #fff;
    float: left;
    margin-right: 500px;
}

.image2{
    margin: 20px;
    height: 300px;
    width: 350px;
    border-radius: 20px;
    border: 5px solid hsl(0, 0%, 100%);
    position: absolute;
    right: 150px;
    top: 250px;
}

.port{
    border: 3px #fff solid;
    border-radius: 5px;
    margin: 20px;
    height: 200px;
    width: 250px;
    
}

.row1{
    position: absolute;
    top: 700px;
    left: 50px;   
}

.row1{
    background-color: hsla(0, 0%, 37%, 0.502);
    height: 250px;
    border-radius: 20px;
}

.paragraph {
    background-color: hsla(0, 0%, 37%, 0.502);
    margin: 20px;
    border-radius: 20px;
    height: 140px;
    
}

.paragraph p{
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #fff;
    float: left;
}

.paragraph {
    position: absolute;
    top: 1020px;
}

.header44 p{
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #fff;
    float: left;
}

.header44 p{
   
        position: absolute;
        top: 1250px;
        left: 50px;   
    
}

.copy{
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin: 20px;
    color: hwb(0 100% 0%);
    float: left;
    font-style: italic;
}

.copy p{
   
    position: absolute;
    top: 1350px;
    left: 50px;   

}



















